.header
  .logo
    height: 100%
    display: flex
    padding-left: 0
    align-items: center
    justify-content: space-between
    img
      width: 76px
      height: 47px
  .menu
    height: 100px
    ul
      height: 100%
      display: flex
      padding-left: 0
      align-items: center
      justify-content: space-between
      li:not(:first-child)
        margin-left: 30px
      li
        margin-right: 0
        a
          font-size: 15px
          font-weight: 400
          line-height: 21.9px
          text-transform: uppercase
          letter-spacing: 0.75px
          color: $main-text-color
          text-decoration: none