*
  color: $main-text-color
  font-family: $concepto


.main
  height: 591px
  width: 100%
  background: url('../img-min/main-bg.png') no-repeat center
  background-size: cover
  display: flex
  align-items: center
  justify-content: center
  .button-main
    width: 250px
    height: 51px
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35)
    border-radius: 10px
    background-color: #ffffff
    border: 0px solid transparent
    outline: none